{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "About | " %}{% endblock %}

{% block body %}
    
<p><em>What is this site?</em>

<p>InTeractive Somerville is a site for the Somerville Community to discuss and plan for the anticipated arrival of the Green Line Extension in 2014. It provides a forum to provide specific community feedback that will be used to inform state and local agencies of community needs for future station and neighborhood design plans. 
<hr>
<p><em>What is the Green Line Extension Project</em>

<p>As part of the permitting process for the "Big Dig" in 1990 the State of Massachusetts became legally obligated to extend the Green Line as one method of offsetting air pollution caused by the project. Seven new stops are currently being planned in Somerville and Medford alongside existing commuter rail tracks. These include Union Square, Washington Street, Gilman Square, Lowell Street, Ball Square, College Avenue, and Route 16.
<hr>

<p><em>Why should I care?</em>

<p>The introduction of a transportation system into a new neighborhood always creates the potential for change. This is a chance for you to express what changes you want to occur. What is valuable within the existing community? What are the things or types of things you would want to see more of? 
<hr>

<p><em>Who can use this site?</em>

<p>Anyone can view the maps and related information. 

<p>To contribute you must register and become a member. Provide your name and email address to  <a href></a> Your name will be displayed with your posts but your email will remain confidential when you post.  
<hr>

<p><em>Does it cost anything?</em>

<p>Nada. 
<hr>

<p><em>May I contribute in other ways to this site?</em>

<p>[answer]  
<hr>

<p><em>How do I post stuff?</em>

<p>[Describe the process. Link to tutorials for adding pictures and video in particular.]  
<hr>

<p><em>What kind of content should I post?</em>

<p>CCP plans on using content generated here to inform future planning efforts so we are looking for specific site recommendations and suggestions. However,  any content related to Somerville and the Green Line is encouraged. Just noting locations that you value or that need improvement can be valuable to this process. Offensive and inflammatory content will be removed and if the problem persists then posting privileges may be removed.  
<hr>

<p><em>What are the “Core Principles”?</em> 

<p>The Community Corridor Planning project (see “About”) has been holding community meetings with Somerville residents for in preparation for the Green Line Extension. One product of these meetings has been a list of 11 community generated core principles that are representative of the kind of development desired by residents.  
<hr>

<p><em>How do the core principles apply to this site?</em>

<p>Placemarks have been designed to represent different core principles. For example, to recommend that a certain parcel of land in Somerville should be devoted to green space one would select the [green-space.png] placemark and place it on that parcel in the map.  
<hr>

<p><em>How do I use the map?</em>

<p>[answer]
<hr>

<p><em>What about my privacy? Will you share information with others?</em>

<p>Your personal information will not be distributed to any third party by site admins nor will your membership include you on any "inside" mailing lists. You are welcome and encouraged to extend your involvement, however. 
<hr>

{% endblock %}
