{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Terms of Service | " %}{% endblock %}

{% block body %}
<p><em>Terms of use</em>

<p>Welcome to inTeractiveSomerville! Somerville Community Corporation ("SCC", "we", "us" or "our") provides the services available here subject to the following terms and conditions (the "Terms and Conditions"). By accessing or using this site, you are acknowledging that you have read, understand, and agree, without limitation or qualification, to be bound by these Terms and Conditions.

<p><em>Privacy</em>

<p>Please review our Privacy Policy, which also governs your visit to the Website, so that you may understand our privacy practices.

<p><em>Accuracy of Information</em>
<p>We attempt to be as accurate as possible when describing our services on the Website; however, to the extent permitted by applicable law, we do not warrant that the service descriptions, colors or other content available on the Website is accurate, complete, reliable, current, or error-free.

<p><em>Intellectual Property</em>
<p>All content available on the Website, including, but not limited to, text, graphics, logos, button icons, images, audio clips, data compilations, and software, and the compilation thereof (the "Content") is the property of Somerville Community Corporation, our affiliates, our partners or our licensors, and is protected by US and international copyright laws.

<p>The trademarks, logos, and service marks displayed on the Website (collectively, the "Trademarks") are the registered and unregistered marks of Somerville Community Corporation, our affiliates, our licensors or our partners, in the US and other countries, and are protected by US and international trademark laws. All other Trademarks not owned by us, our affiliates, our partners or our licensors that appear on the Website are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by us.

<p>Except as set forth in the limited license in Section 4 below, or as required under applicable law, neither the Content, the Trademarks, nor any other portion of the Website may be used, reproduced, duplicated, copied, sold, resold, accessed, modified, or otherwise exploited, in full or in part, for any purpose without our prior written consent.

<p><em>Limited License</em>
<p>We grant you a limited, revocable, and non-exclusive license to access and make personal use of the Website. Please note that you may not frame or utilize framing techniques to enclose the Website or any portion thereof without our prior written consent.

<p><em>Third Party Links</em>
<p>We are not responsible for the content of any off-Website pages or any other websites linked to or from the Website. Links appearing on the Website are for convenience only and are not an endorsement by us, our affiliates or our partners of the referenced content, product, service, or supplier. Your linking to or from any off-Website pages or other websites is at your own risk. We are in no way responsible for examining or evaluating, and we do not warrant the offerings of, off-Website pages or any other websites linked to or from the Website, nor do we assume any responsibility or liability for the actions, content, products, or services of such pages and websites, including, without limitation, their privacy statements and terms and conditions. You should carefully review the terms and conditions and privacy policies of all off-Website pages and other websites that you visit.

<p><em>Submissions</em>

<p>[content]

<p><em>Representations and Warranties; Limitation of Liability</em>
<p>THE WEBSITE IS PRESENTED "AS IS." WE MAKE NO REPRESENTATIONS OR WARRANTIES OF ANY KIND WHATSOEVER, EXPRESS OR IMPLIED, IN CONNECTION WITH THESE TERMS AND CONDITIONS OR THE WEBSITE, INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT OR FITNESS FOR A PARTICULAR PURPOSE, UNLESS SUCH REPRESENTATIONS AND WARRANTIES ARE NOT LEGALLY EXCLUDABLE.

<p>YOU AGREE THAT WE WILL NOT BE RESPONSIBLE OR LIABLE, UNDER ANY CIRCUMSTANCES, FOR ANY (a) INTERRUPTION OF BUSINESS; (b) ACCESS DELAYS OR ACCESS INTERRUPTIONS TO THE WEBSITE; (c) DATA NON-DELIVERY, MISDELIVERY, CORRUPTION, DESTRUCTION OR OTHER MODIFICATION; (d) LOSS OR DAMAGES OF ANY SORT INCURRED AS A RESULT OF DEALINGS WITH OR THE PRESENCE OF OFF-WEBSITE LINKS ON THE WEBSITE; (e) COMPUTER VIRUSES, SYSTEM FAILURE OR MALFUNCTION WHICH MAY OCCUR IN CONNECTION WITH YOUR USE OF THE WEBSITE, INCLUDING DURING HYPERLINK TO OR FROM THIRD PARTY WEBSITES; OR (f) EVENTS BEYOND OUR REASONABLE CONTROL.

<p>FURTHER, TO THE MAXIMUM EXTENT PERMITTED BY LAW WE WILL NOT BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES OF ANY KIND (INCLUDING LOST PROFITS) RELATED TO THE WEBSITE REGARDLESS OF THE FORM OF ACTION WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN NO EVENT SHALL OUR MAXIMUM AGGREGATE LIABILITY EXCEED ONE HUNDRED DOLLARS ($100.00).

<p><em>Indemnification</em>
<p>You agree to defend, indemnify and hold us harmless for any loss, damages or costs, including reasonable attorneys' fees, resulting from any third party claim, action, or demand resulting from your use of the Website. You also agree to indemnify us for any loss, damages, or costs, including reasonable attorneys' fees, resulting from your use of software robots, spiders, crawlers, or similar data gathering and extraction tools, or any other action you take that imposes an unreasonable burden or load on our infrastructure.


<p><em>General</em>
<p>You acknowledge and agree that these Terms and Conditions, together with our Privacy Policy, constitute the complete and exclusive agreement between us concerning your use of the Website, and supersede and govern all prior proposals, agreements, or other communications.

<p>If you have any questions regarding these Terms and Conditions, please contact us by e-mail at info@interactivesomerville.
{% endblock %}
