{% extends "base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "What Next? | " %}{% endblock %}

{% block body %}    
    {% if user.is_authenticated %}
        <p>You're logged in as {{ user.username }}</p>
        <p> <a href="/openid/logout/?next=/account/logout/">Logout</a></p> 
        
    {% else %}
        {% url acct_login as login_url %}
            
    <p class="what_next">
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            {% blocktrans %}Start by <a href="{{ signup_url }}">signing up</a> and <a href="{{ login_url }}">logging in</a>.{% endblocktrans %}
        {% else %}
            {% blocktrans %}Start by <a href="{{ login_url }}">logging in</a>.{% endblocktrans %}
        {% endifsetting %}
    </p>
    {% endif %}
{% endblock %}