{% extends "base.html" %}

{% load i18n %}
{% load uni_form %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Login | " %}{% endblock %}

{% block body %}
<div id="content" class="grid_6">
    
    <h2>{% trans "Log In" %}</h2>
    
    {% if user.is_authenticated %}
        <p><span class="warning">{% trans "Note" %}</span>: {% blocktrans %}you are already logged in as {{ user }}.{% endblocktrans %}</p>
    {% else %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
        {% url acct_signup as signup_url %}
        <p>{% blocktrans %}Don't have an account? <a href="{{ signup_url }}">Sign up</a>!{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
    
    <form class="login uniForm" method="POST" action="{% url acct_login %}">
        <fieldset class="inlineLabels">
            <div class="form_block">
                <a href="{% url acct_passwd_reset %}">{% trans "Forgot password?" %}</a>
            </div>
            {{ form|as_uni_form }}
            <div class="form_block"><br />
                <button type="submit">Login</button>
            </div>
        </fieldset>
    </form>
    <br />
    <p>{% blocktrans %}If you have any trouble logging in to your account, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
</div>

<div id="content" class="grid_5">
    <div id="rb-others">
        <h2>Other Groups</h2>
        <p>There are plenty of other great web resources for the Somerville area, including:</p>
        <dl>
            <dt><a href="">Reconnecting America Report</a></dt>
            <dd>For those North Shore folks who can't make it to Boston, this monthly group meets in Newburyport, MA.</dd>
            <dt><a href=""><abbr title="">UX</abbr>STEP</a></dt>
            <dd>Local club focusing on books about user experience design &amp; development.</dd>
            <dt><a href="">SCHA</a></dt>
             <dd>The Boston area chapter of ACM's <a href="http://www.acm.org/sigchi/">Special Interest Group on Computer-Human Interaction</a> that holds monthly meetings open to everyone.</dd>

        </dl>
            </div>
        </div>
<div class="clear"> </div>
{% endblock %}


{% block extra_body %}
<script>
    $("#id_username").focus();
</script>
{% endblock %}