{% extends "base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% trans "Signup | " %}{% endblock %}

{% block body %}
<div id="content" class="grid_6">

    <h3>{% trans "Sign Up" %}</h3>
    
    {% if user.is_authenticated %}
        <p>{% trans "You are already logged in." %}</p>
    {% else %}
        <p>{% trans "Already have an account?" %} <a href="{% url acct_login %}">{% trans "Log In" %}</a>!</p>
        
        <form class="signup uniForm" id="signup_form" method="post" action="{% url acct_signup %}">
            <fieldset class="inlineLabels">
                {{ form|as_uni_form }}
                <div  class="form_block"><br />
                    <button type="submit">Sign Up</button>
                </div>
            </fieldset>
        </form>
        <br />
        {% url terms as terms_url %}
        {% url privacy as privacy_url %}
        <p>{% blocktrans %}By signing up you indicate that you have read and agree to <br /> the <a href="{{ terms_url }}">Terms of Use</a> and <a href="{{ privacy_url }}">Privacy Policy</a>.{% endblocktrans %}</p>
        
        <p>{% blocktrans %}If you have any trouble creating your account, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
    {% endif %}
    
</div>
<div class="clear"> </div>
{% endblock %}


{% block extra_body %}
    {% load jquery_validation %}
    {% include_validation %}
    <script type="text/javascript">
        $(function(){
            $('#signup_form').validate('{% url signup_form_validate %}', {type: 'table', fields: ['username'], dom: $('#id_username'), event: 'change'});
            $("#id_username").focus();
        });
    </script>
{% endblock %}