{% extends "base.html" %}

{% load i18n %}
{% load uni_form %}
{% load avatar_tags %}
{% load theme_tags %}
{% load comments_tag %}

{% block head_title %}{% blocktrans %}About The Principles | {% endblocktrans %}{% endblock %}

{% block js %}
<script type="text/javascript">
</script>

{% endblock %}

{% block body %}
	{% for principle in principles %}	
        <div class="column span-16"> 
            <a href="/principles/{{ principle.slug }}">{{ principle.title }}</a>         
              <p class="intro">{{ principle.body }}</p>
          </div> 
    {% endfor %}
{% endblock %}

{% block extra %}
{% endblock %}
