{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% load participation_tags %}
{% load mptt_comments_tags %}
{% load pagination_tags %}

{% block head_title %}{{ resource.type|title }} #{{ media.id }}{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&amp;sensor=false&amp;language=en"></script>
<script src="{{ STATIC_URL }}js/infobubble-compiled.js"type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/vote.js"type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/mptt_comments.js"type="text/javascript"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/maps.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/mptt_comments.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block body_class %}{% endblock %}

{% block body %}
<div class="grid_12"><h2>{{ resource.type|title }} #{{ media.id }}</h2></div>
<div class="grid_7">
	{% if media.url %}{{ embed_code|safe }}{% endif %}
	{{ media.desc_as_html }}
	<div class="meta">Posted by <span class="author">{% firstof media.author.get_full_name media.author.username %}</span> on <span class="timestamp">{{ media.last_modified|date:"F dS Y" }}</span></div>
</div>

<div class="grid_5">
	{% if media.geometry or media.station %}<div id="media_map">map</div>{% endif %}
	{% if media.station or media.theme %}<h5>This {{ resource.type|title }} relates to</h5>{% endif %}
	{% if media.station %}<div>Station Area: <a href="{{ media.station.get_absolute_url }}">{{ media.station.name }}</a></div>{% endif %}
	{% if media.theme %}<div>Theme: <a href="{{ media.theme.get_absolute_url }}">{{ media.theme.title }}</a></div>{% endif %}
</div>
{% endblock %}

{% block body_onload %}{% if media.geometry or media.station %}initialize(){% endif %}{% endblock %}

{% block extra_body %}
{% if media.geometry or media.station %}
<script src="{{ STATIC_URL }}js/map.js" type="text/javascript"></script>
<script type="text/javascript">
		
	function initialize() {
		
		// media url
		greenline.static_url = '{{ STATIC_URL }}';
		
		// basemap
		greenline.createBasemap('media_map');
		
		{% if media.geometry %}
		var media_ll = new google.maps.LatLng({{ media.geometry.y }},{{ media.geometry.x }});
		var media = new google.maps.Marker({
			position: media_ll, 
			map: greenline.map,
			title: "{{ resource.type|title }} Location",
			shadow: greenline.icons['shadow'],
			icon: greenline.icons['{{ resource.type }}'],
			zIndex: 1
		});
		{% endif %}
		
		// add station marker
		{% if media.station %}
		greenline.createStationMarker({
			'title': '{{ media.station.name }}',
			'lat': {{ media.station.geometry.y }},
			'lon': {{ media.station.geometry.x }},
			'desc': '{{ media.station.desc|truncatewords:30 }}',
			'url': '{{ media.station.get_absolute_url }}'
		});
		{% endif %}
		// add greenline
		{% for line in lines %}
		greenline.createGreenline({
			'points': '{{ line.encoded.points|fixbackslash }}',
			'levels': '{{ line.encoded.levels }}',
			'zoomFactor': {{ line.encoded.zoomFactor }},
			'numLevels': {{ line.encoded.numLevels }}
		})
		{% endfor %}
		
		// zoom and center
		greenline.map.setOptions({
			zoom: 15,
			center: {% if media.geometry %}media_ll{% else %}new google.maps.LatLng({{ media.station.geometry.y }},{{ media.station.geometry.x }}){% endif %}
		});
		
	}
</script>
{% endif %}
{% endblock %}
