{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% load participation_tags %}
{% load pagination_tags %}

{% block head_title %}News Article #{{ newsarticle.id }}{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&amp;sensor=false&amp;language=en"></script>
<script src="{{ STATIC_URL }}js/infobubble-compiled.js"type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/vote.js"type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/mptt_comments.js"type="text/javascript"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/maps.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/mptt_comments.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block body_class %}{% endblock %}

{% block body %}
<div class="grid_12"><h2>News Article</h2></div>
<div class="grid_7">
	{{ newsarticle.desc_as_html }}
	{% if newsarticle.url %}<a href="{{ newsarticle.url }}">Read full article</a></li>{% endif %}
	<div class="meta">Shared by <a class="author" href="{{ newsarticle.author.get_absolute_url }}">{% firstof newsarticle.author.get_profile.name newsarticle.author.username %}</a> on <span class="timestamp">{{ newsarticle.last_modified|date:"F jS Y" }}</span></div>
</div>

<div class="grid_5">
	{% if newsarticle.geometry or newsarticle.station %}<div id="newsarticle_map">map</div>{% endif %}
	{% if newsarticle.station or newsarticle.theme %}<h5>This News Article relates to</h5>{% endif %}
	{% if newsarticle.station %}<div>Station Area: <a href="{{ newsarticle.station.get_absolute_url }}">{{ newsarticle.station.name }}</a></div>{% endif %}
	{% if newsarticle.theme %}<div>Theme: <a href="{{ newsarticle.theme.get_absolute_url }}">{{ newsarticle.theme.title }}</a></div>{% endif %}
</div>
{% endblock %}

{% block body_onload %}{% if newsarticle.geometry or newsarticle.station %}initialize(){% endif %}{% endblock %}

{% block extra_body %}
{% if newsarticle.geometry or newsarticle.station %}
<script src="{{ STATIC_URL }}js/map.js" type="text/javascript"></script>
<script type="text/javascript">
		
	function initialize() {
		
		// media url
		greenline.static_url = '{{ STATIC_URL }}';
		
		// basemap
		greenline.createBasemap('newsarticle_map');
		
		{% if newsarticle.geometry %}
		var newsarticle_ll = new google.maps.LatLng({{ newsarticle.geometry.y }},{{ newsarticle.geometry.x }});
		var newsarticle = new google.maps.Marker({
			position: newsarticle_ll, 
			map: greenline.map,
			title: "News Article Location",
			shadow: greenline.icons['shadow'],
			icon: greenline.icons['n'],
			zIndex: 1
		});
		{% endif %}
		
		// add station marker
		{% if newsarticle.station %}
		greenline.createStationMarker({
			'title': '{{ newsarticle.station.name }}',
			'lat': {{ newsarticle.station.geometry.y }},
			'lon': {{ newsarticle.station.geometry.x }},
			'desc': '{{ newsarticle.station.desc|truncatewords:30 }}',
			'url': '{{ newsarticle.station.get_absolute_url }}'
		});
		{% endif %}
		// add greenline
		{% for line in lines %}
		greenline.createGreenline({
			'points': '{{ line.encoded.points|fixbackslash }}',
			'levels': '{{ line.encoded.levels }}',
			'zoomFactor': {{ line.encoded.zoomFactor }},
			'numLevels': {{ line.encoded.numLevels }}
		})
		{% endfor %}
		
		// zoom and center
		greenline.map.setOptions({
			zoom: 15,
			center: {% if newsarticle.geometry %}newsarticle_ll{% else %}new google.maps.LatLng({{ newsarticle.station.geometry.y }},{{ newsarticle.station.geometry.x }}){% endif %}
		});
		
	}
</script>
{% endif %}
{% endblock %}
