{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% load participation_tags %}
{% load pagination_tags %}
{% load comments %}

{% block head_title %}{{ theme.title }}{% endblock %}

{% block extra_head %}
<script src="{{ STATIC_URL }}js/vote.js"type="text/javascript"></script>

{% endblock %}

{% block body %}
<div class="grid_12"><h2>{{ theme.title }}</h2></div>
<div class="grid_7">	
	{{ theme.desc_as_html }}
	
	{% get_comment_count for theme as comment_count %}
	{% if comment_count > 0 %}
		{% render_comment_list for theme %}
		<h4>Post a new comment:</h3>
	{% else %}
		<ul class="comments"></ul>
		<h4>Be the first to post a comment:</h3>	
	{% endif %}
	{% render_comment_form for theme %}
</div>

<div class="grid_5">
	<h5>Recent Community Activity</h5>
	<ul class="activitystream">
	{% autopaginate activities 7 %}
	{% for activity in activities %}
	{% get_activity activity %}
	{% endfor %}
	{% paginate %}
	</ul>
</div>
{% endblock %}

{% block extra_body %}
<script src="{{ STATIC_URL }}js/utils.js" type="text/javascript"></script>
{% endblock %}
