{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% load participation_tags %}

{% block head_title %}Themes{% endblock %}

{% block extra_head %}
<script src="{{ STATIC_URL }}js/vote.js"type="text/javascript"></script>
{% endblock %}

{% block body_class %}{% endblock %}

{% block body %}
<div class="grid_12">	
	<h2>Themes</h2>
	<p>Something general about the Themes</p>
</div>

{% for theme in themes %}
<div class="grid_7">
	<h3><a href="{{ theme.get_absolute_url }}" title="{{ station.title }}">{{ theme.title }}</a></h3>
	{{ theme.desc_as_html }}
</div>
<div class="grid_5">
	<h5>Recent Community Activity</h5>
	<ul class="activitystream">
	{# NOT PRETTY #}
	{% for activity in activities %}
	{% ifequal activity.theme theme.id %}
	{% for shareditem in activity.shareditems %}
	<li>
		<div><a href="{{ shareditem.get_absolute_url }}" class="title">{{ shareditem.get_itemtype_display }}</a>: {{ shareditem.desc_rendered|striptags|truncatewords:30 }}</div>
		<div class="meta">Shared by <a class="author" href="{{ shareditem.author.get_absolute_url }}">{% firstof shareditem.author.get_profile.name shareditem.author.username %}</a> on <span class="timestamp">{{ shareditem.last_modified|date:"F jS Y" }}</span></div>
	</li>
	{% endfor%}
	{% endifequal %}
	{% endfor %}
	</ul>
</div>
{% endfor %}

{% endblock %}

