{% extends "base.html" %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}
{% load avatar_tags %}
{% load gravatar %}
{% load voting_tags %}
{% load extra_voting_tags %}


{% block head_title %}{% blocktrans %}From the community | {% endblocktrans %}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block body %}

<p>Shares from <b>The Community</b> go here...</p>

{% autopaginate shares 3 %}

{% votes_by_user user on shares as vote_dict %}
{% scores_for_objects shares as score_dict %}

    {% for share in shares %}
    
    {% dict_entry_for_item share from vote_dict as vote %}
    {% dict_entry_for_item share from score_dict as score %}
    
    <p> {% gravatar user 30 %} <a href="">{{ share.shared_by.username }}</a>
        {{ share.share.username }}</a> shared a 
        {{ share.content_type }}. Posted 
        {{ share.share_date|timesince|truncatewords:2|cut:"."|cut:","}} ago.
    <p> {{ share.content_object.title }} </p>

  <p><a href="{{ share.get_absolute_url }}">Full Entry</a></p>

  {% if user.is_authenticated %}
      <a id="up_{{ share.id }}" href="#" onclick="vote({{ share.id }}, '{% if vote and vote.is_downvote %}clear{% else %}up{% endif %}'); return false;"><img src="{{ STATIC_URL }}bookmarks/img/up_{% if vote and vote.is_upvote %}mod{% else %}grey{% endif %}.png"/></a><br />
  {% endif %}
  <span id="share_{{ share.id }}_score">
      {{ score.score|default:0 }} point{{ score.score|default:0|pluralize }}
  </span><br />
  {% if user.is_authenticated %}
      <a id="down_{{ share.id }}" href="#" onclick="vote({{ share.id }}, '{% if vote and vote.is_upvote %}clear{% else %}down{% endif %}'); return false;"><img id="img_{{ share.id }}_down" src="{{ STATIC_URL }}bookmarks/img/down_{% if vote and vote.is_downvote %}mod{% else %}grey{% endif %}.png"/></a>
  {% endif %}
  
  <hr />
  {% endfor %}
  {% paginate %}


{% block extra_body %}{% endblock %}

<script>
    function vote(share_id, direction) {
        $.post(share_id + '/' + direction + 'vote/', function(data) {
            var jsonResult = eval('(' + data + ')');
            var new_score = jsonResult.score.score;
            $('#idea_' + share_id + '_score').text(new_score + ' point' + (new_score == 1 ? '': 's'));
        });
        if (direction == 'up') {
            $('#up_' + share_id).replaceWith('<a id="up_' + share_id + '" href="#" onclick="return false;"><img src="{{ STATIC_URL }}bookmarks/img/up_mod.png"/>');
            $('#down_' + share_id).replaceWith('<a id="down_' + share_id + '" href="#" onclick="vote(' + share_id + ', \'clear\'); return false;"><img src="{{ STATIC_URL }}bookmarks/img/down_grey.png"/>');
        }
        else if (direction == 'down') {
            $('#up_' + share_id).replaceWith('<a id="up_' + share_id + '" href="#" onclick="vote(' + share_id + ', \'clear\'); return false;"><img src="{{ STATIC_URL }}bookmarks/img/up_grey.png"/>');
            $('#down_' + share_id).replaceWith('<a id="down_' + share_id + '" href="#" onclick="return false;"><img src="{{ STATIC_URL }}bookmarks/img/down_mod.png"/>');
        }
        else { // clear
            $('#up_' + share_id).replaceWith('<a id="up_' + share_id + '" href="#" onclick="vote(' + share_id + ', \'up\'); return false;"><img src="{{ STATIC_URL }}bookmarks/img/up_grey.png"/>');
            $('#down_' + share_id).replaceWith('<a id="down_' + share_id + '" href="#" onclick="vote(' + share_id + ', \'down\'); return false;"><img src="{{ STATIC_URL }}bookmarks/img/down_grey.png"/>');
        }
    }
</script>
{% endblock %}
