{% extends "base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load gravatar %}
{% load markup %}
{% load voting_tags %}
{% load pagination_tags %}
{% load extra_voting_tags %}
{% load in_filter %}
{% load comments_tag %}


{% block head_title %}{% blocktrans %}Share Ideas | {% endblocktrans %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block body %}
<div id="content" class="grid_6">
    
    <h2>Shares from the community</h2>

    {% if shares %}
    {% autopaginate shares 3 %}
    
    {% votes_by_user user on share as vote_dict %}
    {% scores_for_objects share as score_dict %}
    
        {% for share in shares %}
        
            {% dict_entry_for_item share from vote_dict as vote %}
            {% dict_entry_for_item share from score_dict as score %}
            
            <label><a href="{{ share.get_absolute_url }}">{{ share.title }} </a></label>
                    
            {% if user.is_authenticated %}
                <a id="up_{{ share.id }}" href="#" onclick="vote({{ share.id }}, '{% if vote and vote.is_downvote %}clear{% else %}up{% endif %}'); return false;">
                    <img src="{{ STATIC_URL }}bookmarks/img/up_{% if vote and vote.is_upvote %}mod{% else %}grey{% endif %}.png"/></a><br />
            {% endif %}
            <span id="share{{ share.id }}_score">
                {{ score.score|default:0 }} point{{ score.score|default:0|pluralize }}
            </span><br />
            {% if user.is_authenticated %}
                <a id="down_{{ share.id }}" href="#" onclick="vote({{ share.id }}, '{% if vote and vote.is_upvote %}clear{% else %}down{% endif %}'); return false;">
                    <img id="img_{{ share.id }}_down" src="{{ STATIC_URL }}bookmarks/img/down_{% if vote and vote.is_downvote %}mod{% else %}grey{% endif %}.png"/></a>
            {% endif %}
                
            <p> <a href="">{{ share.shared_by.username }}</a>
                {{ share.share.username }}</a> shared a 
                {{ share.content_type }}. Posted 
                {{ share.share_date|timesince|truncatewords:2|cut:"."|cut:","}} ago.
            <p> {{ share.content_object.title }} </p>

            <p><a href="{{ share.get_absolute_url }}">Full Entry</a></p>
            
            <br />        
            <p><b>Posted by:</b><br />
                <a href="">{{ share.author.username }}</a> on {{ share.publish|date }}</p>
            
            {% comments share %}
            <br />
        {% endfor %}
        
    {% paginate %}

    {% else %}
        No shares posts yet.
    {% endif %}
    
<br />
</div>
<div class="clear"> </div>
{% block extra_body %}{% endblock %}

<script>
    function vote(share_id, direction) {
        $.post(share_id + '/' + direction + 'vote/', function(data) {
            var jsonResult = eval('(' + data + ')');
            var new_score = jsonResult.score.score;
            $('#idea_' + share_id + '_score').text(new_score + ' point' + (new_score == 1 ? '': 's'));
        });
        if (direction == 'up') {
            $('#up_' + share_id).replaceWith('<a id="up_' + share_id + '" href="#" onclick="return false;"><img src="{{ STATIC_URL }}bookmarks/img/up_mod.png"/>');
            $('#down_' + share_id).replaceWith('<a id="down_' + share_id + '" href="#" onclick="vote(' + share_id + ', \'clear\'); return false;"><img src="{{ STATIC_URL }}bookmarks/img/down_grey.png"/>');
        }
        else if (direction == 'down') {
            $('#up_' + share_id).replaceWith('<a id="up_' + share_id + '" href="#" onclick="vote(' + share_id + ', \'clear\'); return false;"><img src="{{ STATIC_URL }}bookmarks/img/up_grey.png"/>');
            $('#down_' + share_id).replaceWith('<a id="down_' + share_id + '" href="#" onclick="return false;"><img src="{{ STATIC_URL }}bookmarks/img/down_mod.png"/>');
        }
        else { // clear
            $('#up_' + share_id).replaceWith('<a id="up_' + share_id + '" href="#" onclick="vote(' + share_id + ', \'up\'); return false;"><img src="{{ STATIC_URL }}bookmarks/img/up_grey.png"/>');
            $('#down_' + share_id).replaceWith('<a id="down_' + share_id + '" href="#" onclick="vote(' + share_id + ', \'down\'); return false;"><img src="{{ STATIC_URL }}bookmarks/img/down_grey.png"/>');
        }
    }
</script>
{% endblock %}
