{% extends "base.html" %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}
{% load avatar_tags %}
{% load gravatar %}
{% load voting_tags %}
{% load extra_voting_tags %}


{% block head_title %}{% blocktrans %}Share Successfully Submitted {% endblocktrans %}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block body %}
<div id="content" class="grid_6">
<div class="shared media">
    
<h4>share submitted!</h4>    

{% if form %}
    {{ form }}
{% else %}    
    <h4>with no data!</h4>    
{%endif%}
</div>
{% endblock %}
</div>
{% block extra_body %}

{% endblock %}
