.pagination {
    margin: 10px 0;
}
.pagination .disabled {
    padding: 3px;
    color: #999;
    border: 1px solid #CCC;
}
.pagination .current {
    padding: 3px;
    color: #FFF;
    border: 1px solid #607848;
    background: #607848;
}
.pagination a {
    padding: 3px;
    text-decoration: none;
    border: 1px solid #607848;
    color: #444;
    background: #E3EFD6;
}
.pagination a:hover {
    background: #BCC6B1;
}