{% extends "base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load gravatar %}
{% load markup %}
{% load voting_tags %}
{% load pagination_tags %}
{% load extra_voting_tags %}
{% load in_filter %}
{% load comments_tag %}


{% block head_title %}{% blocktrans %}Share Ideas | {% endblocktrans %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block body %}
<div id="content" class="grid_8">
    
    <h2>Ideas from the community</h2>
    
    {% if ideas %}
    {% autopaginate ideas 3 %}
    
    {% votes_by_user user on ideas as vote_dict %}
    {% scores_for_objects ideas as score_dict %}
    
        {% for idea in ideas %}

            {% dict_entry_for_item idea from vote_dict as vote %}
            {% dict_entry_for_item idea from score_dict as score %}
            
            <label><a href="{{ idea.get_absolute_url }}">{{ idea.title }} </a></label>
                    
            {% if user.is_authenticated %}
                <a id="up_{{ idea.id }}" href="#" onclick="vote({{ idea.id }}, '{% if vote and vote.is_downvote %}clear{% else %}up{% endif %}'); return false;">
                    <img src="{{ STATIC_URL }}bookmarks/img/up_{% if vote and vote.is_upvote %}mod{% else %}grey{% endif %}.png"/></a><br />
            {% endif %}
            <span id="idea_{{ idea.id }}_score">
                {{ score.score|default:0 }} point{{ score.score|default:0|pluralize }}
            </span><br />
            {% if user.is_authenticated %}
                <a id="down_{{ idea.id }}" href="#" onclick="vote({{ idea.id }}, '{% if vote and vote.is_upvote %}clear{% else %}down{% endif %}'); return false;">
                    <img id="img_{{ idea.id }}_down" src="{{ STATIC_URL }}bookmarks/img/down_{% if vote and vote.is_downvote %}mod{% else %}grey{% endif %}.png"/></a>
            {% endif %}

            {% with idea.copy|truncatewords:"150" as body %}
                {{ body|force_escape|markdown }}
            {% endwith %}

            <br />        
            <p><b>Posted by:</b><br />
                <a href="">{{ idea.author.username }}</a> on {{ idea.publish|date }}</p>
            
            {% comments idea %}
            <br />
        {% endfor %}
    
    {% paginate %}
        
    {% else %}
        No idea posts yet.
    {% endif %}
<br />
</div>
<div class="clear"> </div>
{% endblock %}

{% block extra_body %}
<script> 
       function vote(idea_id, direction) {
           $.post(idea_id + '/' + direction + 'vote/', function(data) {
               var jsonResult = eval('(' + data + ')');
               var new_score = jsonResult.score.score;
               $('#idea_' + idea_id + '_score').text(new_score + ' point' + (new_score == 1 ? '': 's'));
           });
           if (direction == 'up') {
               $('#up_' + idea_id).replaceWith('<a id="up_' + idea_id + '" href="#" onclick="return false;"><img src="/site_media/static/bookmarks/img/up_mod.png"/>');
               $('#down_' + idea_id).replaceWith('<a id="down_' + idea_id + '" href="#" onclick="vote(' + idea_id + ', \'clear\'); return false;"><img src="/site_media/static/bookmarks/img/down_grey.png"/>');
           }
           else if (direction == 'down') {
               $('#up_' + idea_id).replaceWith('<a id="up_' + idea_id + '" href="#" onclick="vote(' + idea_id + ', \'clear\'); return false;"><img src="/site_media/static/bookmarks/img/up_grey.png"/>');
               $('#down_' + idea_id).replaceWith('<a id="down_' + idea_id + '" href="#" onclick="return false;"><img src="/site_media/static/bookmarks/img/down_mod.png"/>');
           }
           else { // clear
               $('#up_' + idea_id).replaceWith('<a id="up_' + idea_id + '" href="#" onclick="vote(' + idea_id + ', \'up\'); return false;"><img src="/site_media/static/bookmarks/img/up_grey.png"/>');
               $('#down_' + idea_id).replaceWith('<a id="down_' + idea_id + '" href="#" onclick="vote(' + idea_id + ', \'down\'); return false;"><img src="/site_media/static/bookmarks/img/down_grey.png"/>');
           }
       }
</script> 

{% endblock %}

