{% extends "base.html" %}

{% load i18n %}
{% load humanize %}
{% load markup %}
{% load gravatar %}
{% load pagination_tags %}
{% load comments_tag %}

{% block head_title %}{% blocktrans %}Respond | {% endblocktrans %} {{ post.title }}{% endblock %}

{% block extra_head %}{% endblock %}

{% block body %}
<div id="content" class="grid_8">

            <label><a href="{{ idea.get_absolute_url }}">{{ idea.title }} </a></label>
                {% if idea.copy %}
                     {% with idea.copy as body %}
                        {% if idea.markup %}
                                {{ body|force_escape|markdown }}
                        {% else %}
                            {{ body|force_escape|linebreaks|safe }}
                        {% endif %}
                    {% endwith %}
                {% else %}
                    {% with idea.copy|truncatewords:"150" as body %}
                        {% if idea.markup %}
                               {{ body|force_escape|markdown }}
                        {% else %}
                            {{ body|force_escape|linebreaks|safe }}
                        {% endif %}
                    {% endwith %}
                {% endif %}
                <p>
                    <b>Posted by:</b><br />
                    <a href="">{{ idea.author.username }}</a> on {{ idea.publish|date }}
                    {% ifequal idea.author request.user %}
                        <a href="{% url idea_edit idea.id %}">Edit</a><br />
                    {% endifequal %}
                </p>
            
        <b>Comment:</b>
        {% comments idea %}
</div>
<div class="clear"> </div>
{% endblock %}

