{% extends "base.html" %}

{% load i18n %}
{% load idea_tags %}
{% load markup %}
{% load theme_tags %}
{% load humanize %}
{% load gravatar %}
{% load comments_tag %}

{% block head_title %}{% blocktrans %}Your Ideas{% endblocktrans %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block body %}
<div id="content" class="grid_6">

    <h2>Your Ideas</h2>
    
    {% if ideas %}
    {% for idea in ideas %}
        <label><a href="{{ idea.get_absolute_url }}">{{ idea.title }} </a></label>
            {% if idea.tease %}
                 {% with idea.copy as body %}
                    {% if idea.markup %}
                            {{ body|force_escape|markdown }}
                    {% else %}
                        {{ body|force_escape|linebreaks|safe }}
                    {% endif %}
                {% endwith %}
            {% else %}
                {% with idea.copy|truncatewords:"150" as body %}
                    {% if idea.markup %}
                           {{ body|force_escape|markdown }}
                    {% else %}
                        {{ body|force_escape|linebreaks|safe }}
                    {% endif %}
                {% endwith %}
            {% endif %}
            <p><b>Posted by:</b><br />
                <a href="">{{ idea.author.username }}</a> on {{ idea.publish|date }}</p>
            <hr />
        {% endfor %}
    {% else %}
        {% trans "No ideas yet." %}
    {% endif %}
<br />
</div>
<div class="clear"> </div>
{% endblock %}
