{% extends "base.html" %}

{% load i18n %}
{% load idea_tags %}
{% load markup %}
{% load theme_tags %}
{% load humanize %}
{% load gravatar %}
{% load comments_tag %}

{% block head_title %}{% blocktrans %}Your Ideas{% endblocktrans %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block body %}
<div id="content" class="grid_6">

    <h1>Your Ideas</h1>
    
    {% if ideas %}
    {% for idea in ideas %}
    <div class="blog-post clearfix">
        <h2><a href="{{ idea.get_absolute_url }}">{{ idea.title }} </a></h2>
        <div class="blog-post-tease">
            {% if idea.tease %}
                 {% with idea.tease as body %}
                    {% if idea.markup %}
                            {{ body|force_escape|markdown }}
                    {% else %}
                        {{ body|force_escape|linebreaks|safe }}
                    {% endif %}
                {% endwith %}
            {% else %}
                {% with idea.body|truncatewords:"150" as body %}
                    {% if idea.markup %}
                           {{ body|force_escape|markdown }}
                    {% else %}
                        {{ body|force_escape|linebreaks|safe }}
                    {% endif %}
                {% endwith %}
            {% endif %}
        </div>
        <div class="blog-post-meta">
            {% gravatar idea.author 40 %}
            <p><b>Posted:</b><br />
                <a href="{% url profile_detail idea.author.username %}">{{ idea.author.username }}</a> on {{ idea.publish|date }}</p>
        </div>
        {% endfor %}   
    {% else %}
        {% trans "No ideas yet." %}
    {% endif %}
</div>     
{% endblock %}
