{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% load participation_tags %}
{% load pagination_tags %}
{% load mptt_comments_tags %}

{% block head_title %}{% blocktrans %}Welcome{% endblocktrans %}{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&amp;sensor=false&amp;language=en"></script>
<script src="{{ STATIC_URL }}js/infobubble-compiled.js"type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/vote.js"type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/map.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/maps.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block body_class %}{% endblock %}

{% block map %}
    <div id="the_map"class="mapContainer minor">
    <div id="map"></div>
    <div id="map-intro-message">
    <a href="javascript:document.getElementById('the_map').removeChild(document.getElementById('map-intro-message')); center();" class="close">Close</a>
  
      <h3>Get Involved</h3>
      <p class="focus">
        <span>The Green Line is coming to Somerville and we need your thoughts! Share your ideas, questions, photos and videos with the community!</span>
      </p>
      <a href="/about">Learn about this project</a>
      <a href="/help">View help on using this site</a>
    </div>
    </div>
{% endblock %}

{% block body %}
<div class="grid_7">
	<h2>Recent Community Activity</h2>
	<ul class="activitystream">
	{% autopaginate activities 5 %}	    
	{% for activity in activities %}
	<li>
		<div class="activity_item">{% if activity.itemtype == "e" and activity.url %}<a href="{{ activity.get_absolute_url }}" title="Join the discussion!"><img class="activity_tn" src="{{ activity.get_oembed.thumbnail_url }}" height="75" alt="Thumbnail"></a>{% endif %}<a href="{{ activity.get_absolute_url }}" class="title">{% if activity.itemtype == "e" and activity.url %}{{ activity.get_oembed.type|title }}{% else %}{{ activity.get_itemtype_display }}{% endif %}</a>: {{ activity.desc_rendered|striptags|truncatewords:30 }}</div>
		<div class="meta">Shared by <a class="author" href="{{ activity.author.get_absolute_url }}">{% firstof activity.author.get_profile.name activity.author.username %}</a> on <span class="timestamp">{{ activity.last_modified|date:"F jS Y" }}</span></div>
		{% if activity.geometry %}<script type="text/javascript">
			greenline.activities[{{ activity.id }}] = {
				'id': {{ activity.id }},
				'title': '{% if activity.itemtype == "e" and activity.url %}{{ activity.get_oembed.type|title }}{% else %}{{ activity.get_itemtype_display }}{% endif %}',
				'itemtype': '{% if activity.itemtype == "e" and activity.url %}{{ activity.get_oembed.type }}{% else %}{{ activity.itemtype }}{% endif %}',
				'lat': {{ activity.geometry.y }},
				'lon': {{ activity.geometry.x }},
				'desc': '{{ activity.desc_rendered|striptags|truncatewords:30 }}',
				'url': '{{ activity.get_absolute_url }}'
			};</script>{% endif %}
	</li>
	{% endfor %}
	</ul>
	{% paginate %}
</div>
	
<div class="grid_5">
	<h2>Find Your Station Area</h2>
	<div class="row" id="address-search">
		<label id="user_address_label" for="address">Enter your address below to see what's happening.</label>
		<input type="text" id="user_address">
		<button id="find_station">Find my Station Area</button>
		<p class="help-text"><strong>Example:</strong> 83 Highland Avenue, Somerville</p>
	</div>
	<script src="http://widgets.twimg.com/j/2/widget.js"></script>
	<script type="text/javascript">
		new TWTR.Widget({
			version: 2,
			type: "profile",
			rpp: 6,
			interval: 6000,
			width: "auto",
			height: 400,
			theme: {
				shell: {
					background: "#F8F8F8",
					color: "#444444"
				},
				tweets: {
					background: "#F8F8F8",
					color: "#444444",
					links: "#4F7B41"
				}
			},
			features: {
				scrollbar: true,
				loop: false,
				live: true,
				hashtags: true,
				timestamp: true,
				avatars: false,
				behavior: "all"
			}
		}).render().setUser("i_somerville").start();
	</script>
</div>
{% endblock %}

{% block body_onload %}initialize(){% endblock %}

{% block extra_body %}

<script type="text/javascript">
		
	function initialize() {
		
		// media url
		greenline.static_url = '{{ STATIC_URL }}';
		
		// basemap
		greenline.createBasemap('map');
		
		// zoom and center
		greenline.map.setOptions({
			zoom: 13,
			center: new google.maps.LatLng(42.397, -71.13)
		});
		
		// add station markers
		{% for station in stations %}
		greenline.createStationMarker({
			'title': '{{ station.name }}',
			'lat': {{ station.geometry.y }},
			'lon': {{ station.geometry.x }},
			'desc': '{{ station.desc|truncatewords:30 }}',
			'url': '{{ station.get_absolute_url }}'
		});
		{% endfor %}
		// add greenline
		{% for line in lines %}
		greenline.createGreenline({
			'points': '{{ line.encoded.points|fixbackslash }}',
			'levels': '{{ line.encoded.levels }}',
			'zoomFactor': {{ line.encoded.zoomFactor }},
			'numLevels': {{ line.encoded.numLevels }}
		})
		{% endfor %}
		
		// find my station area form
		$('#find_station').bind('click', function() {
			getStation ();
		});
		$('#user_address').bind('keypress', function(e) {
			// 'enter'
			var code = (e.keyCode ? e.keyCode : e.which);
			if (e.keyCode==13) getStation ();
		});
		
		// add activities to map
		for (var key in greenline.activities) {
			var activity = greenline.activities[key];
			var activity_marker = new google.maps.Marker({
				position: new google.maps.LatLng(activity['lat'], activity['lon']), 
				map: greenline.map,
				title: activity['title'] + ' #' + activity['id'],
				shadow: greenline.icons['shadow'],
				icon: greenline.icons[activity.itemtype],
				zIndex: 1
			});
			greenline.createInfoBubble('activity', activity_marker, '<div class="infobubble"><span class="title">' + activity['title'] + ' #' + activity['id'] + '</span><p>' + activity['desc'] + '<br><a href="' + activity['url'] + '">Join the discussion!</a></p></div>');
		}
	}
	
	// find closest station for entered address
	function getStation () {
		
		var geocoder = new google.maps.Geocoder();
		var address = $('#user_address').val();
		
		geocoder.geocode( { 'address': address }, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				
				var user_address_ll = results[0].geometry.location;
				// bounds allows a nice 'zoom to extent'
				var user_bounds = new google.maps.LatLngBounds(user_address_ll);
				var user_address_icon = new google.maps.MarkerImage('{{ STATIC_URL }}img/isicons/location.png',
					new google.maps.Size(32,37),
					new google.maps.Point(0,0),
					new google.maps.Point(16,37)
				);
				// remove previous marker if user tries multiple times
				if (greenline.user_address_marker) greenline.user_address_marker.setMap(null);
				// add new marker
				greenline.user_address_marker = new google.maps.Marker({
					position: user_address_ll, 
					map: greenline.map,
					title: "Your Address",
					shadow: greenline.icons.shadow,
					icon: user_address_icon
				});
				
				// get nearest station
				$.get("/getstation/", { 
						'lat': user_address_ll.lat(), 
						'lng': user_address_ll.lng()
					},
					function(station){
						$('#user_address_label').html('<strong><a href="' + station.url + '" title="' + station.name + '"> '+ station.name + '</a></strong> is your closest station. <a href="' + station.url + '" title="' + station.name + '">Go there!</a>');
						
						var user_station_ll = new google.maps.LatLng(station.lat,station.lng);
						user_bounds.extend(user_station_ll);
						
						// zoom and center map, with minimum zoom level
						greenline.map.fitBounds(user_bounds);
						if ( greenline.map.getZoom() > 15 ) greenline.map.setZoom(15); // min zoom
						
					}, "json");
				
			} else {
				$('#address-search p.help-text').html('<strong>Sorry, we couldn\'t find your address.</strong>');
			}
		});
	}

</script>

{% endblock %}
