{% extends "base.html" %}

{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load avatar_tags %}
{% load gravatar %}
{% load voting_tags %}
{% load extra_voting_tags %}
{% load markup %}
{% load theme_tags %}
{% load in_filter %}
{% load comments_tag %}

{% block head_title %}{% blocktrans %}Welcome | {% endblocktrans %}{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=en"></script>
<script src="{{ STATIC_URL }}greenline/js/googlev3/infobubble-compiled.js"type="text/javascript"></script>
<script src="{{ STATIC_URL }}greenline/js/greenline/routes.js"type="text/javascript"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}greenline/css/greenline/maps.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block js %}
<script type="text/javascript">

//<![CDATA[
    // Global vars, array for holding and clearing overlays.
    var infoBubbleStations  = new InfoBubble({maxWidth: 300,borderWidth: 2,borderColor: '#3B7002'});
    var infoBubblePhotos    = new InfoBubble({maxWidth: 500, minWidth: 260, borderWidth: 1, borderColor: '#3B7002'});
    var infoBubbleLocations = new InfoBubble({maxWidth: 250,borderWidth: 1,borderColor: '#3B7002'});
    
    var overlays = [];
    var pmarkers = []; 
    var lmarkers = []; 
    
    var bikeLayer = new google.maps.BicyclingLayer();
      
    // the map center  
    var mapCenter = new google.maps.LatLng(42.391088, -71.11533);


    function zoomIn() {
        var zoom = map.getZoom();
        new_zoom = zoom + 1;
        map.setZoom(new_zoom);
    }
  
    function zoomOut() {
        var zoom = map.getZoom();
        new_zoom = zoom - 1;
        
        if (zoom <= 14) { map.setZoom(zoom) }
        else    
        { map.setZoom(new_zoom) }
    }

//    function center() {
//     var latLngbounds = map.getBounds();
//     var center = latLngbounds.getCenter();
//     map.panTo(new google.maps.LatLng(center.lat(), center.lng()));
//    }
     
    function reset() {
        map.setCenter(mapCenter);
        map.setZoom(14)
    }
    
/**
 * Show bike and foot path overlay.
 */
    function applyBikeLayer() {
        bikeLayer.setMap(map);
    }

/**
 * Shows or hides the radius overlays.
 */
    function toggleOverlays(opt_enable) {
        if (typeof opt_enable == 'undefined') {
            opt_enable = !overlays[0].getMap();
        }
        for (var n = 0, overlay; overlay = overlays[n]; n++) {
            overlay.setMap(opt_enable ? map : null);
        }
    };

/**
 * Shows or hides the photos.
 */
    function togglePhotos(opt_enable) {
        if (typeof opt_enable == 'undefined') {
            opt_enable = !pmarkers[0].getMap();
        }
        for (var n = 0, pmarker; pmarker = pmarkers[n]; n++) {
            pmarker.setMap(opt_enable ? map : null);
        }
    };
    
/**
 * Shows or hides the locations.
 */
    function toggleLocations(opt_enable) {
        if (typeof opt_enable == 'undefined') {
            opt_enable = !lmarkers[0].getMap();
        }
        for (var n = 0, lmarker; lmarker = lmarkers[n]; n++) {
            lmarker.setMap(opt_enable ? map : null);
        }
    };

    function init() {
          
    // Create a new map
    var options = {
        'zoom': 14,
        center: mapCenter,
        scaleControl: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        streetViewControl: true,
        mapTypeControl: true,
        zoomControl: false,
        disableDoubleClickZoom: true,
        keyboardShortcuts: false,
        mapTypeControlOptions: {
        style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
        }
    };

    function createListenerInfoBubbleStations(marker, contentString) { 
        google.maps.event.addListener(marker, 'click', function() {
              infoBubbleStations.setContent(contentString);
              infoBubbleStations.open(map, marker);
            });
    }
    
    function createListenerInfoBubblePhotos(marker, contentString) { 
        google.maps.event.addListener(marker, 'click', function() {
              infoBubblePhotos.setContent(contentString);
              infoBubblePhotos.open(map, marker);
            });
    }
    
    function createListenerInfoBubbleLocations(marker, contentString) { 
        google.maps.event.addListener(marker, 'click', function() {
              infoBubbleLocations.setContent(contentString);
              infoBubbleLocations.open(map, marker);
            });
    }
    
    // the map
    map = new google.maps.Map(document.getElementById("map"), options);

    // place marker for entering new place info
    var placemark = new google.maps.LatLng{{ markerpos }};
        
    var placeme = new google.maps.Marker({
        position: placemark,
        title: 'Place Me!',
        icon: '{{ STATIC_URL }}greenline/images/isicons/placemarker.png',
        map: map,
        draggable: true
    });
                       
    {% if stations %}
    {% for station in stations %}
        var {{ station.markerVarName }} = new google.maps.Marker({
            map: map,
            position: new google.maps.LatLng({{ station.latitude }}, {{ station.longitude}}),
            draggable: false,
            shadow: '{{ STATIC_URL }}greenline/images/isicons/shadow.png',
            icon: '{{ STATIC_URL }}greenline/images/isicons/train.png',
            title: '{{ station.name }}'
        });

        var {{ station.circleVarName }} = new google.maps.Circle({
            map: map,
            fillColor: '#A8A890',
            strokeColor: '#FFFFFF',
            fillOpacity: .1,
            strokeWeight: .6,
            radius: 805 // equals .5 mile 
        });

    {{ station.circleVarName }}.bindTo('center', {{ station.markerVarName }}, 'position')
    overlays.push({{ station.circleVarName }});

    {% with station.copy|truncatewords:"80" as copy %}    
    var {{ station.markerVarName }}contentString = '<div id= markerInfo">' +
        '{{ station.name }}' +
        '</div>';
    {% endwith %}

    createListenerInfoBubbleStations({{ station.markerVarName }}, {{ station.markerVarName }}contentString);
    
    // Add mouseover events to the radius
    google.maps.event.addListener({{ station.circleVarName }}, 'mouseover', function(e) {

      // Set color of the radius
      {{ station.circleVarName }}.setOptions({
        fillColor: '#C6E182',
        strokeColor: '#FFFFFF',
      });
      

      // Add a doubleclick event to the radius
      google.maps.event.addListener({{ station.circleVarName }}, 'dblclick', function() {
            map.setCenter({{ station.markerVarName }}.position);      
            map.setZoom(15);  
        });

    });
    // Add a mouseout event to the radius
    google.maps.event.addListener({{ station.circleVarName }}, 'mouseout', function(e) {

      // Set color back to original
      {{ station.circleVarName }}.setOptions({
        fillColor: '#A8A890',
        strokeColor: '#FFFFFF',
      });

    });
    {% endfor %}
    {% endif %}

    {% if locations %}{% for location in locations %}
        var {{ location.markerVarName }} = new google.maps.Marker({
            map: map,
            position: new google.maps.LatLng({{ location.latitude }}, {{ location.longitude }}),
            draggable: false,
            shadow: '{{ STATIC_URL }}greenline/images/isicons/shadow.png',
            icon: '{{ STATIC_URL }}greenline/images/isicons/place.png',
            title: '{{ location.title }}'
        });
        
    var {{ location.markerVarName }}contentString = '<div id= markerInfo">' +
        '<label> {{ location.title }} </label>' +
        '</div>';

    createListenerInfoBubbleLocations({{ location.markerVarName }}, {{ location.markerVarName }}contentString);
    lmarkers.push({{ location.markerVarName }});

    
    {% endfor %}
    {% endif %}
    
    {% if photos %}{% for photo in photos %}
        var _{{ photo.photo_id }} = new google.maps.Marker({
            map: map,
            position: new google.maps.LatLng({{ photo.latitude }}, {{ photo.longitude }}),
            draggable: false,
            shadow: '{{ STATIC_URL }}greenline/images/isicons/shadow.png',
            icon: '{{ STATIC_URL }}greenline/images/isicons/photo.png',
            title: '{{ photo.title }}'
        });

        var _{{ photo.photo_id }}contentString = '<div id= markerInfo">' +
            '<a href="{{ photo.url }}" target="_blank"><img src="{{ photo.small_url }}" alt=""></a> <br>' + 
            '<label>{{ photo.title }} </label>' + 
            '</div>';
            
    createListenerInfoBubblePhotos(_{{ photo.photo_id }}, _{{ photo.photo_id }}contentString);
    pmarkers.push(_{{ photo.photo_id }});

    
    {% endfor %}
    {% endif %}
    
    route16.setMap(map);
    unionSq.setMap(map);
    applyBikeLayer();
    
}

google.maps.event.addDomListener(window, 'load', init);    
</script>

{% endblock %}

</head> 

{% block map %}
    <div class="mapContainer minor">
    <div id="map"></div>
    <div id="map-intro-message">
      <a href="" class="close">Close</a>
      
      <h3>Get Involved</h3>
      <p class="focus">
        <span>The Green Line is coming to Somerville and we need your thoughts! Share your ideas, questions, photos and videos with the community!</span>
      </p>
      <a href="#">Learn about this project</a>
      <a href="#">View help on using this site</a>
    </div>
        <div>
        <map-button type="submit" onclick="togglePhotos();">-/+ Photos</map-button>
        <map-button type="submit" onclick="toggleVideos();">-/+ Videos</map-button>
        <map-button type="submit" onclick="toggleLocations();">-/+ Ideas</map-button>
        <map-button type="submit" onclick="toggleOverlays();">-/+ Overlays</map-button>
        <map-button type="submit" onclick="zoomIn();">+ Zoom</map-button>
        <map-button type="submit" onclick="zoomOut();">- Zoom</map-button>
        <map-button type="submit" onclick="reset();">Reset</map-button>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="content" class="grid_5">

<h2>From the Community</h2>

<div class="shared ">
{% autopaginate shares 3 %}

{% votes_by_user user on shares as vote_dict %}
{% scores_for_objects shares as score_dict %}

    {% for share in shares %}
    
    {% dict_entry_for_item share from vote_dict as vote %}
    {% dict_entry_for_item share from score_dict as score %}
    
    <h5>
    <a href="#" class="author">{{ share.get_owner }}</a> shared a {{ share.content_type }} from the <a href="#" class="station">{{ share.content_object.neighbourhood }}</a> area. 
    <br />
    <span class="when">Posted {{ share.share_date|timesince|truncatewords:2|cut:"."|cut:","}} ago.</span>
    </h5>
    
    <label>{{ share.content_object.title }} </label>
    
    <a href="#"><img src="{{share.content_object.thumbnail_url}}" alt="" width="98" height="70" /></a>

    <p>{{ share.content_object.description }}</p>
    <a href="#" class="more">More</a>
    </p>
      <div class="action-bar">
       <div class="comment-stats">
         <a href="#" class="comment">X Comments</a>
         <a href="#" class="comment">Reply</a>
       </div>
      <div class="like-stats">
        <span id="share_{{ share.id }}_score" class="like-count">{{ score.score|default:0 }} point{{ score.score|default:0|pluralize }}</span>
        <a href="" class="like">LIKE THIS!</a>
        </div>
      </div>
    <br />

  {% endfor %}
  {% paginate %}

    <div class="comments">
      <div class="comment"></div>
    </div>
  
  </div>
</div>

<div id="side" class="grid_6">
<form action="#" method="post" id="address-search">
  <h2>Find Your Station</h2>
  <div class="row">
    <label for="id_address">Enter an address below to see what's happening.</label>
    <input type="text" name="address" id="id_address">
    <button type="submit">Find my station</button>
    <p class="help-text"><strong>EXAMPLES:</strong> 83 Highland Avenue, 24 Richdale Ave</p>
  </div>
</form>
<hr>

<script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script type="text/javascript">
    new TWTR.Widget({
      version: 2,
      type: 'profile',
      rpp: 6,
      interval: 6000,
      width: 'auto',
      height: 300,
      theme: {
        shell: {
          background: '#FAFAFA',
          color: '#777777'
        },
        tweets: {
          background: '#FAFAFA',
          color: '#777777',
          links: '#32a800'
        }
      },
      features: {
        scrollbar: true,
        loop: false,
        live: true,
        hashtags: true,
        timestamp: true,
        avatars: false,
        behavior: 'all'
      }
    }).render().setUser('ISomerville').start();
    </script>
</div>

<div class="clear"> </div>
{% endblock %}
{% block extra_body %}

<script>
    function vote(share_id, direction) {
        $.post(share_id + '/' + direction + 'vote/', function(data) {
            var jsonResult = eval('(' + data + ')');
            var new_score = jsonResult.score.score;
            $('#idea_' + share_id + '_score').text(new_score + ' point' + (new_score == 1 ? '': 's'));
        });
        if (direction == 'up') {
            $('#up_' + share_id).replaceWith('<a id="up_' + share_id + '" href="#" onclick="return false;"><img src="{{ STATIC_URL }}bookmarks/img/up_mod.png"/>');
            $('#down_' + share_id).replaceWith('<a id="down_' + share_id + '" href="#" onclick="vote(' + share_id + ', \'clear\'); return false;"><img src="{{ STATIC_URL }}bookmarks/img/down_grey.png"/>');
        }
        else if (direction == 'down') {
            $('#up_' + share_id).replaceWith('<a id="up_' + share_id + '" href="#" onclick="vote(' + share_id + ', \'clear\'); return false;"><img src="{{ STATIC_URL }}bookmarks/img/up_grey.png"/>');
            $('#down_' + share_id).replaceWith('<a id="down_' + share_id + '" href="#" onclick="return false;"><img src="{{ STATIC_URL }}bookmarks/img/down_mod.png"/>');
        }
        else { // clear
            $('#up_' + share_id).replaceWith('<a id="up_' + share_id + '" href="#" onclick="vote(' + share_id + ', \'up\'); return false;"><img src="{{ STATIC_URL }}bookmarks/img/up_grey.png"/>');
            $('#down_' + share_id).replaceWith('<a id="down_' + share_id + '" href="#" onclick="vote(' + share_id + ', \'down\'); return false;"><img src="{{ STATIC_URL }}bookmarks/img/down_grey.png"/>');
        }
    }
</script>
{% endblock %}