{% load i18n %}
{% blocktrans %}
<HTML><HEAD><META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"></HEAD>

<table cellpadding="0" cellspacing="0" border="0" width="585" align="center">
<tr>
<td colspan="3" style="border-bottom:1px solid #cccccc !important;padding:0px;margin:0px;">&nbsp;</td>
</tr>
<tr>
<td valign="top" style="border-left:1px solid #cccccc !important;padding:0px;margin:0px;">&nbsp;</td>
<td valign="top"style="padding:0px;margin:0px;">
<div style="padding:15px;font-family:'Lucida Grande','Tahoma',Verdana,Arial,Helvetica,sans-serif;color:#000000;font-size:13px;">
<center><span style="font-size:20px;color:#000000;font-family:'Lucida Grande','Tahoma', Verdana,Arial,Helvetica,sans-serif;font-weight:bold">Thanks for becoming a member!</span></center>
<br/>
<br/>
To complete your registration, please click the big green button below.
<br/>
<br/>
By clicking Confirm, you indicate that you have provided this email as a member of <a href="mailto:info@interactivesomerville.org" style="text-decoration:none;font-weight:bold;color:#0068c5;">interactivesomerville.org</a>. If this is not the case simply delete this email.
<br/>
<br/>
<br/>
<span style="display:block;width:555px;text-align:center;margin-left:auto;margin-right:auto;">
<table cellpadding="10" cellspacing="0" border="0" align="center">
<tr>
<td valign="top" bgcolor="#9ef0aa" style="background-color:#9ef0aa;">
<a href="{{ activate_url }}" id="confirm_link" style="display:block;font-size:16px;padding:5px 10px 5px 10px;color:#000000;background-color:#9ef0aa;text-decoration:none;">&raquo; Confirm &laquo;</a>
</td>
</tr>
</table>
</span>
<br/>
<br/>
Be sure to add <a href="mailto:info@interactivesomerville.org" style="text-decoration:none;font-weight:bold;color:#0068c5;">info@interactivesomerville.org</a> to your email address book to prevent future emails from landing in your junk or spam folders.
<br/>
<br/>
Thanks,
<br/>
Somerville Community Corporation
<br/>
<br/>
<div style="display:block;text-align:center;">
<br/>
<font face="verdana" size="1" color="#444444">This email was sent by: <b>Somerville Community Corporation</b>
<br>337 Somerville Avenue Somerville, MA 02143-2914</span><br/><br/>
</div>
</div>
</td>
<td valign="top" style="border-right:3px solid #cccccc !important;padding:0px;margin:0px;">&nbsp;</td>
</tr>
<tr>
<td colspan="3" style="border-top:3px solid #cccccc !important;padding:0px;margin:0px;">&nbsp;</td>
</tr>
</table>
</HTML>
{% endblocktrans %}