{% extends "idios/base.html" %}

{% load participation_tags %}
{% load profile_tags %}
{% load i18n %}
{% load uni_form_tags %}
{% load account_tags %}

{% block head_title %}{% user_display page_user as page_user_display %}{% blocktrans %}Profile for {{ page_user_display }}{% endblocktrans %}{% endblock %}

{% block body %}
    {% user_display page_user as page_user_display %}
    <div class="grid_12"><h2>{% blocktrans %}Profile for {{ page_user_display }}{% endblocktrans %}</h2></div>
    
	<div class="grid_7 profile_info">
		{% include "profiles/_profile_info.html" %}
		{% if profile.mystation %}
		<h3>My Station Area</h3>
		<div id="profile_map">{{ profile.mystation }}</div>
		{% endif %}
		{% if is_me %}
	    <div class="meta"><a href="{% url profile_edit %}" rel="facebox">Edit profile</a></div>
		{% endif %}
	</div>
	<div class="grid_5 profile_activities">
		<h3>Recently shared</h3>
		{% get_user_activities %}
	</div>
{% endblock %}

{% block body_onload %}initialize(){% endblock %}

{% block extra_body %}
    {% include "facebox_js.html" %}
	<script src="{{ STATIC_URL }}js/mptt_comments.js"type="text/javascript"></script>
	<script type="text/javascript">

		function initialize() {

			// media url
			greenline.static_url = '{{ STATIC_URL }}';

			// basemap
			greenline.createBasemap('profile_map');

			// add station markers
			greenline.createStationMarker({
				'title': '{{ profile.mystation.name }}',
				'lat': {{ profile.mystation.geometry.y }},
				'lon': {{ profile.mystation.geometry.x }},
				'desc': '{{ profile.mystation.desc|truncatewords:30 }}',
				'url': '{{ profile.mystation.get_absolute_url }}'
			});
			// add greenline
			{% for line in lines %}
			greenline.createGreenline({
				'points': '{{ line.encoded.points|fixbackslash }}',
				'levels': '{{ line.encoded.levels }}',
				'zoomFactor': {{ line.encoded.zoomFactor }},
				'numLevels': {{ line.encoded.numLevels }}
			})
			{% endfor %}

			// zoom and center
			greenline.map.setOptions({
				zoom: 15,
				center: new google.maps.LatLng({{ profile.mystation.geometry.y }},{{ profile.mystation.geometry.x }})
			});
			
			// add activities to map
			for (var key in greenline.activities) {
				var activity = greenline.activities[key];
				var activity_marker = new google.maps.Marker({
					position: new google.maps.LatLng(activity['lat'], activity['lon']), 
					map: greenline.map,
					title: activity['title'] + ' #' + activity['id'],
					shadow: greenline.icons['shadow'],
					icon: greenline.icons[activity.itemtype],
					zIndex: 1
				});
				greenline.createInfoBubble('activity', activity_marker, '<div class="infobubble"><span class="title">' + activity['title'] + ' #' + activity['id'] + '</span><p>' + activity['desc'] + '<br><a href="' + activity['url'] + '">Join the discussion!</a></p></div>');
			}

		}

	</script>
{% endblock %}